#par{border: 1px solid black ;
margin: 20px;
background-color: skyblue;
}
.boutonnet{display: inline-block;
	width: 10%
    border: 1px solid black;
	font-size: 70px;}
.boutonnet:hover {
    background-color: crimson;
    color: white;

}
.form-control{
	width: 100%;
}
#body{background-color: lightcoral;}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}
.underlined{
	text-decoration: underline;
}


