
#body{background-color: lightcoral;}

#image{
	width: 342px
}
#azerty{
	margin: 60px;
	padding-left:60px;
	padding-top: :60px;
	padding-bottom:   :60px;
	padding-right:60px;

}
#hh{
	width: 200px !important;

}
#jj{
	width: 200px !important;

}
#pp{
	width: 200px !important;

}
